# VARIABLE DECLARATION

In [1]:
HOLA=10
print(HOLA)

10

In [2]:
Class = 'bsc ai'
print (Class)

bsc ai

In [8]:
if = 25
print (if)

SyntaxError: invalid syntax (4063964891.py, line 1)

In [4]:
type = 122.65
print (type)

122.65

In [5]:
num1 = input("Enter the first numer: ")
num2 = input("Enter the second numer: ")
print (num1,num2)

Enter the first numer: 100000
Enter the second numer: 88888
100000 88888

In [6]:
fcb = ["leo,njr,lewan"]
fcb

['leo,njr,lewan']

In [7]:
cars = {"lambo" , "koenigseggs", "volvo" }
cars

{'koenigseggs', 'lambo', 'volvo'}

In [8]:
len(cars)

3

In [9]:
a= 12j+1
type(a)

TypeError: 'float' object is not callable

In [10]:
b=15
type(b)

TypeError: 'float' object is not callable

In [11]:
fcb= 'FCBARCELONA'
type(fcb)

TypeError: 'float' object is not callable

In [12]:
c=12.4
type(c)

TypeError: 'float' object is not callable

In [13]:
d=12.5,109,'FCB',12j+1
type(d)

TypeError: 'float' object is not callable

In [14]:
f=[12,44,474,785]
type(f)

TypeError: 'float' object is not callable

In [15]:
e={'leo', 'messi', 'gavi',12.5, 10}
type(e)

TypeError: 'float' object is not callable

In [16]:
clubs=['LIVERPOOLFC','FCB','villarreal','BVB']

In [17]:
clubs.append('SPURS')
print(clubs)

['LIVERPOOLFC', 'FCB', 'villarreal', 'BVB', 'SPURS']

In [18]:
len(clubs)

5

In [19]:
clubs[::2]

['LIVERPOOLFC', 'villarreal', 'SPURS']

In [20]:
PLAYER=(12,10,20,30,40,50,60)
type(PLAYER)

TypeError: 'float' object is not callable

In [21]:
PLAYER.append('SPURS')

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
PLAYER.extend('fcb')

AttributeError: 'tuple' object has no attribute 'extend'

In [23]:
print(PLAYER[1:3])

(10, 20)

# Creating set variable

In [4]:
name

{(6+7j), 1, 2, 3, 4, 5, 8, 'Hi', 'Prag', 'hi'}

In [5]:
name ={1,2,3,8,4,"hi","Prag",6+7j,5,"Hi",1,2}

In [6]:
len(name)

10

In [12]:
arsenel={1,4,3,2,"Ironman","Hi"}

In [13]:
type(name)

set

In [16]:
name.add("FCB")
name

{(6+7j), 1, 2, 3, 4, 5, 8, 'FCB', 'Hi', 'Prag', 'hi'}

In [19]:
arsenel.add("FCB")
arsenel

{1, 2, 3, 4, 'FCB', 'Hi', 'Ironman'}

In [32]:
arsenel
arsenel.pop()

1

# Dictionary Variable

In [1]:
fcb = {1:"Barca",2:"LFC",3:"FIFA",4:"BVB"}
fcb

{1: 'Barca', 2: 'LFC', 3: 'FIFA', 4: 'BVB'}

In [2]:
fcb.keys()

dict_keys([1, 2, 3, 4])

In [3]:
fcb.values()

dict_values(['Barca', 'LFC', 'FIFA', 'BVB'])

In [4]:
fcb.items()

dict_items([(1, 'Barca'), (2, 'LFC'), (3, 'FIFA'), (4, 'BVB')])

In [5]:
fcb[2]

'LFC'

In [6]:
fcb[5]="chelsea"

In [7]:
fcb.items()

dict_items([(1, 'Barca'), (2, 'LFC'), (3, 'FIFA'), (4, 'BVB'), (5, 'chelsea')])

# Conditional Statement

In [1]:
a= int(input("Enter the first number:"))
b = int(input("Enter the second number:"))

Enter the first number:12
Enter the second number:15

In [4]:
if a>b:
    print("true")
else:
    print("false")

false

In [5]:
if int(a)%2==0:
     print("true")
else:
    print("false")

true

In [7]:
if int(a)%int(b)==0:
     print("true")
else:
    print("false")

false

if int (num1)>num2:
    print("The number {num1} is greater {num2}")

# Negative or Positive

In [27]:
a= int(input("Enter the first number:"))

Enter the first number:-10

In [28]:
if a<0:
    print(f"The number is Negative")
elif a==0:
    print("The number is Equal")
else:
    print("The number is Positive")

The number is Negative

# Creating a List

In [29]:
num = (1,2,3,4,5,6,'LEO','FCB',9,10)

In [30]:
ivy = ('vikki','leo','vendhan','vairam','aswin','allan')

# Printing the List

In [32]:
for i in ivy :
    print(i)

vikki
leo
vendhan
vairam
aswin
allan

# For Loop - Example 2

In [36]:
a =[1,2,3,4,5,6,7,8,9,10]

In [39]:
for i in a:
    if i%2==0:
        print(i,"This is Even Number")
    else:
        print(i,"This is odd number")

1 This is odd number
2 This is Even Number
3 This is odd number
4 This is Even Number
5 This is odd number
6 This is Even Number
7 This is odd number
8 This is Even Number
9 This is odd number
10 This is Even Number

# While loop Example

In [12]:
n = input("Enter a number: ")
val = 0
i = 0

while i <=int(n):
    val += i
    i += 1
    print(f"The sum is {val}")

Enter a number: 10
The sum is 0
The sum is 1
The sum is 3
The sum is 6
The sum is 10
The sum is 15
The sum is 21
The sum is 28
The sum is 36
The sum is 45
The sum is 55

In [19]:
counter = 1

while counter < 15 :
    print("Inside of loop")
    counter = counter + 1
else:
    print("Get out of loop")

Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Inside of loop
Get out of loop

# For Loop

In [30]:
for val in "LEO":
    if val == "i":
        break
    print(val)

print("THE INEVITABLE")

L
E
O
THE INEVITABLE


# BASIC OF FUN

In [3]:
def intro(): 
    
    print("Hola VIKKI")

In [7]:
intro()

Hola VIKKI

# EX 2

In [5]:
def sumval(a,b):
    return a+b

In [6]:
num1 = int(input("Enter the First Number:"))
num2 = int(input("Enter the Second Number:"))
add = sumval(num1,num2)
print (f"The sum is {add}")

Enter the First Number:10
Enter the Second Number:40
The sum is 50